.title {
  margin: 0px;
  padding: 0px;
  width: 60px;
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
}

.icon {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  object-fit: contain;
  overflow: hidden;
  position: absolute;
  top: 15px;
  right: 30px;
  animation: arrowRun 2s infinite;
}

@keyframes arrowRun {
  0% {
    right: 30px;
    opacity: 1;
    scale: 0.5;
  }
  50% {
    right: 0;
    opacity: 0.4;
    scale: 0.8;
  }
  100% {
    right: 0;
    opacity: 0;
    scale: 1;
  }
}
