.main {
  margin: 0;
  margin-top: 0;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.box {
  margin: 0;
  padding: 20px;
  width: auto;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  border-radius: 80px;
  margin: 20px;
  padding: 0;
  width: 80px;
  height: 80px;
  filter: brightness(40%);
}

.logo:hover {
  filter: none;
}
.logoa {
  border-radius: 100px;
  margin: 20px;
  padding: 0;
  width: 100px;
  height: 100px;
}
.list {
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 700px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 120px);
}
